# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#
/camino-frontend/node_modules

/camino-backend/node_modules

/camino-backend/.env

/camino-frontend/.env

/camino-frontend/.idea